
<!--ユーザーの詳細-->

<div>

<!--get_profile_imageメソッド-->
<%= image_tag user.get_profile_image(100,100) %>

<h3>name<%= user.name %></h3>

<h3>introduction<%= user.introduction %></h3>

  <% if user.id == current_user.id %>
    <p><%= link_to edit_user_path(user), class: "btn btn-outline-secondary" do %> 
        <i class="fa-solid fa-user-cog"></i>
      <% end %>
    </p>
  <% else %>
    <p><%= link_to user_path(current_user), class: "btn btn-outline-secondary" do %>
        <i class="fa-solid fa-user-cog"></i>
      <% end %>
    </p>
  <% end %>
</div>